.animated.fadeIn
  .section
    .section__content
      %h1 Selecione um módulo para gerar um relatório

      .action
        .columns{style: "justify-content: center"}
          .column.column--3
            = link_to appointments_relatory_path, class: "fancy-link" do
              .card.card--with-border
                .card--inner
                  Atendimentos

          .column.column--3
            = link_to occurrencies_relatory_path, class: "fancy-link" do
              .card.card--with-border
                .card--inner
                  Ocorrências
