.section.section--golden.devise
  .section__content.devise__content
    %h1.title.title--large.title--thin.title--white Adicionar Livro À Coleção Virtual

    .title--red= notice

    %br
    %br
    %br

    %label{for: "code", style: "color: white"} Código de validação
    %input.fancy-form__input#code{type: "text", style: "background-color: transparent; border-color: white", name: "code"}
    = csrf_meta_tag

    = button_to 'Adicionar', {:controller => "readers", :action => "add_book", :code => ""}, :method => :post, class: "button button--green fancy-link--white"

- content_for :javascript do
  :javascript
    $('#code').on('change keyup paste', function() {
      $('.button_to').attr('action', '/livros/add/' + $(this)[0].value);
    })
