@import "variables";

.button {
  padding: 5px 15px;
  border: none;
  font-weight: 300;
  font-size: 1.2rem;
  cursor: pointer;
  transition: padding 0.1s, font-weight 0.1s;

  &:hover {
    padding: 9px 19px;
    font-size: 1.3rem;
    font-weight: 600;
  }

  @include colors("background-color");

  &--large {
    font-size: 2rem;
    width: 100%;
    font-weight: 100;
    padding: 0;

    &:hover { font-size: 2.3rem; font-weight: 100 }

    @include breakpoint("small-up") {
      font-size: 4rem;

      &:hover { font-size: 4.3rem; font-weight: 100 }
    }
  }
}
