@import "variables";

.card {
  padding: 15px;
  margin: 5px;
  -webkit-print-color-adjust: exact;

  @include colors("background-color");

  &--with-border {
    border: 1px solid grey;
    border-radius: 5px;
  }

  &--with-shadow { box-shadow: 1px 1px 20px 3px #00000038 }

  &--with-bg {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: 50%;
  }
}

.appointment-card {
  border: 1px solid grey;
  border-left: 8px solid;
  border-radius: 5px;
  padding: 5px 15px;
  width: 800px;
  max-width: 100%;
  text-align: left;
  box-shadow: 1px 1px 20px 3px #00000038;
  margin-bottom: 15px
}
