@import "variables";

.flash {
  padding: 10px;
  position: absolute;
  top: 0;
  margin: 35px 0;

  &--success { color: #09e609; border: 1px solid #09e609; }
  &--warning { color: #ffca0c; border: 1px solid #ffca0c; }
  &--alert { color: #e60909; border: 1px solid #e60909; }
  &--notice { color: #09c7e6; border: 1px solid #09c7e6; }
}
