@import "variables";

.flash {
  padding: 10px;
  position: absolute;
  width: fit-content;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 10px;

  &--success { color: $green; border: 1px solid $green; }
  &--warning { color: $dark-yellow; border: 1px solid $dark-yellow; }
  &--danger { color: $red; border: 1px solid $red; }
  &--alert { color: $red; border: 1px solid $red; }
  &--notice { color: $cyan; border: 1px solid $cyan; }
  &--info { color: $cyan; border: 1px solid $cyan; }
}
