@import "variables";

.inline {
  display: flex;
  justify-content: center;
  align-items: center;

  @include small-only {flex-direction: column};
}

.advanced-inline {
  display: flex;
  flex-direction: column;

  @include small-up{
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
}
