@import "variables";

.logo-default {
  width: 80%;
  height: 100%;

  @include breakpoint("small-up") { width: 400px }

  &--small { width: 100px }
}

.logo-footer {
  height: 100%;
  width: 250px;
  margin: 0 auto;

  @include breakpoint("medium") {
    width: 350px;
    margin: unset;
  }
}

.logo-dashboard {
  height: auto;
  width: 150px;
  max-width: 80%;
  margin: 15px;

  @include breakpoint("medium") { width: 200px }
}
