@import "variables";

.modal {
  position: fixed;
  width: 100%;
  min-height: 100%;
  background-color: #bbbbbbad;
  display: none;
  z-index: 1;
  overflow: auto;

  &--active { display: block }

  &__inner {
    padding: 25px;
    background-color: white;
    text-align: center;
    width: 85%;
    right: 0;
    left: 0;
    margin: 90px auto;
    position: absolute;
    z-index: 100;
  }

  &__close {
    cursor: pointer;
    top: 0;
    right: 0;
    position: absolute;
    margin: 30px;
    font-size: 30px;
  }
}
