@import "variables";

.relatory-header {
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  margin: 25px 0;

  &__inner {
    text-align: left;
    padding: 15px;

    input {
      border: 0;
      font-size: 17px;
      border-bottom: 1px solid grey;
      margin-left: 5px;
    }
  }
}
