@import "variables";

.section {
  text-align: center;

  &__content {
    padding: 30px;
    @include breakpoint("limiter");
  }

  &--footer {
    position: relative;

    &__content-list {
      color: white;
      text-align: left;

      &:first-of-type { @include breakpoint("small-up"){ margin: 0 30px; } }
    }
  }
  @include colors("background-color");
}
