@import "variables";

.title {
  font-size: 1.5rem;
  @include breakpoint("small-up") { font-size: 2rem };

  &--small {
    font-size: 1.5rem;
    @include breakpoint("small-only") { font-size: 1rem }
  }

  &--large { font-size: 2.5rem }
  &--thin { font-weight: 300 }
  @include colors("color");
}

.appointment-title {
  font-weight: lighter;
  transition: font-weight, top, left, right, bottom;
  transition-duration: 0.2s, 1s, 1s, 1s, 1s;
  position: absolute;

  &--1 {
    left: 0;
    right: 0;
    top: 20%;
    bottom: 0;
  }

  &--2 {
    top: 45%;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &--3 {
    right: 0;
    bottom: 0;
    top: 70%;
    left: 0;
  }

  @include breakpoint("medium") {
    &--1 {
      left: 0;
      right: 80%;
      top: 50%;
      bottom: 0;
      z-index: 1;
    }

    &--2 {
      top: 50%;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0;
    }

    &--3 {
      right: 5%;
      bottom: 0%;
      top: 50%;
      left: 80%;
      z-index: 1;
    }
  }

  &--selected { font-weight: bold }

  &:hover {
    font-weight: bold;
  }
}

.saldation {
  font-weight: lighter;
  text-shadow: 0 5px 29px rgba(0,0,0,0.0980392) , 10px 10px 5px rgba(0,0,0,0.0470588);
}
