@import "variables";

.title {
  font-size: 1.5rem;
  @include breakpoint("small-up") { font-size: 2rem };

  &--small {
    font-size: 1.5rem;
    @include breakpoint("small-only") { font-size: 1rem }
  }

  &--large { font-size: 2.5rem }
  &--thin { font-weight: 300 }
  @include colors("color");
}

.saldation {
  font-weight: lighter;
  text-shadow: 0 5px 29px rgba(0,0,0,0.0980392) , 10px 10px 5px rgba(0,0,0,0.0470588);
}
