// Colors
$yellow: #FFEC48;
$blue: #60A6E0;
$grey: #606062;
$light-grey: #ccc;
$red: #F25957;

// Breakpoints
@mixin breakpoint($value) {
  @if $value == extra-small {
    @media (max-width: 400px) { @content; }
  }

  @else if $value == small-height {
    @media (max-height: 500px) { @content; }
  }

  @else if $value == small-only {
    @media (max-width: 599px) { @content; }
  }

  @else if $value == small-up {
    @media (min-width: 600px) { @content; }
  }

  @else if $value == medium {
    @media (min-width: 900px) { @content; }
  }

  @else if $value == large {
    @media (min-width: 1200px) { @content; }
  }

  @else if $value == extra-large {
    @media (min-width: 1800px) { @content; }
  }

  @else if $value == limiter {
    max-width: 1700px;
    margin: 0 auto;
  }
}

// managing theme colors with a mixin
@mixin colors($attribute) {
  @if $attribute == color {
    &--yellow { color: $yellow };
    &--blue { color: $blue };
    &--grey { color: $grey };
    &--red { color: $red };
    &--white{ color: white };
    &--black{ color: black };
  }

  @else if $attribute == background-color {
    &--yellow { background-color: $yellow };
    &--blue { background-color: $blue };
    &--grey { background-color: $grey };
    &--red { background-color: $red };
    &--white{ color: white };
    &--black{ color: black };
  }
}
