// Colors
$yellow: #FFEC48;
$yellow-1: scale-color(#FFEC48, $lightness: 10%);
$yellow-2: darken(#FFEC48, 15%);
$yellow-3: darken(#FFEC48, 20%);
$yellow-4: darken(#FFEC48, 25%);
$dark-yellow: #ffca0c;
$cyan: #09b7d4;
$green: #07b107;
$blue: #60A6E0;
$blue2: #0076ff;
$grey: #606062;
$light-grey: #ccc;
$red: #e60909;
$golden: #7F7A4A;

// Breakpoints
@mixin breakpoint($value) {
  @if $value == extra-small {
    @media (max-width: 400px) { @content; }
  }

  @else if $value == small-height {
    @media (max-height: 500px) { @content; }
  }

  @else if $value == small-only {
    @media (max-width: 599px) { @content; }
  }

  @else if $value == small-up {
    @media (min-width: 600px) { @content; }
  }

  @else if $value == touch {
    @media (max-width: 899px) { @content; }
  }

  @else if $value == medium {
    @media (min-width: 900px) { @content; }
  }

  @else if $value == large {
    @media (min-width: 1200px) { @content; }
  }

  @else if $value == extra-large {
    @media (min-width: 1800px) { @content; }
  }

  @else if $value == limiter {
    max-width: 1700px;
    margin: 0 auto;
  }
}

// managing theme colors with a mixin
@mixin colors($attribute) {
  @if $attribute == color {
    &--yellow { color: $yellow };
    &--dark-yellow { color: $dark-yellow };
    &--blue { color: $blue };
    &--blue2 { color: $blue2 };
    &--cyan { color: $cyan };
    &--grey { color: $grey };
    &--light-grey { color: $light-grey };
    &--red { color: $red };
    &--green { color: $green };
    &--golden { color: $golden };
    &--white{ color: white };
    &--black{ color: black };
  }

  @else if $attribute == background-color {
    &--dark-yellow { background-color: $dark-yellow };
    &--yellow { background-color: $yellow };
    &--yellow-1 { background-color: $yellow-1 };
    &--yellow-2 { background-color: $yellow-2 };
    &--yellow-3 { background-color: $yellow-3 };
    &--yellow-4 { background-color: $yellow-4 };
    &--cyan { background-color: $cyan };
    &--green { background-color: $green };
    &--blue { background-color: $blue };
    &--blue2 { background-color: $blue2 };
    &--grey { background-color: $grey };
    &--light-grey { background-color: $light-grey };
    &--red { background-color: $red };
    &--golden { background-color: $golden };
    &--white{ background-color: white };
    &--black{ background-color: black };
  }

  @else if $attribute == border-color {
    &--dark-yellow { border-color: $dark-yellow };
    &--cyan { border-color: $cyan };
    &--green { border-color: $green };
    &--yellow { border-color: $yellow };
    &--blue { border-color: $blue };
    &--blue2 { border-color: $blue2 };
    &--grey { border-color: $grey };
    &--red { border-color: $red };
    &--golden { border-color: $golden };
    &--white{ border-color: white };
    &--black{ border-color: black };
  }
}
