@import "components/relatory-header";

.bg {
  width: 95%;
  opacity:.1;
  position: fixed;
  margin-top: 40%;
  margin-left: -50%;
  z-index: 0;
}

.cont {
  position: absolute;
  width: 90%;
  margin: 0 auto;
}

.print-only { display: none }

@media print {
  .no-print, .no-print * { display: none !important }
  .print-only { display: unset }

  .logo-default { max-width: 40% }

  input { border: 0 !important; background-color: transparent}
}
