%link{:href => "https://fonts.googleapis.com/css?family=Mansalva&display=swap", :rel => "stylesheet"}/
.section.section--black.display-evenly--small{style: "min-height: 100vh; justify-content: center; color: white"}

  %p{style: "font-family: 'Mansalva', cursive; font-size: 20px"} Em breve um
  %h1.title{style: "margin: 0"} NOVO
  %h1.title.title--large.title--yellow{style: "margin: 0"} TOQUE EMOCIONAL
  %h1.title{style: "margin: 0"} PRA VOCÊ!

  %br
  %br
  %br


  .columns.columns--small{style: "justify-content: space-evenly; width: 100%"}
    .column--small--2
      %a.fancy-link{:href => "/sign_in"} PLATAFORMA
    .column--small--2
      %a.fancy-link{:href => "reader/sign_in"} LIVRO
