#particles-js
.section.particles-content.display-evenly--small{style: "color: white"}
  .section__content
    = image_tag("logo-white", class: "logo-default")

    .action
      %h1.title.title--small
        %strong Motivação e comportamento de alto desempenho escolar é nossa especialidade!
        %br
        %strong Se você quer isso para seus alunos e filhos

    .action__clean
      .advanced-inline{style: "justify-content: center; align-items: center; flex-direction: row"}
        %div{style: "max-width: 200px"}
          %a.fancy-link{:href => about_page_url}
            %h2.title.title--small.title--thin Descubra quem nós somos
        %div{style: "width: 100px"}
          %hr.vertical
        %div{style: "max-width: 200px"}
          %a.fancy-link{:href => slide_show_url}
            %h2.title.title--small.title--thin Descubra as emoções e sentimentos


-# particles.js
%script{:src => "https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"}

:javascript
  /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
  particlesJS.load('particles-js', '#{asset_path "particles.json"}', function() {
    console.log('callback - particles.js config loaded');
  });
