#particles-js
.section.particles-content.display-evenly--small{style: "color: white"}
  .section__content{style: "padding: 0"}
    = image_tag("logo-white.png", class: "logo-default")

    .action
      %h1.title.title--small
        %strong Motivação e comportamento de alto desempenho escolar é nossa especialidade!
        %br
        %strong Se você quer isso para seus alunos e filhos

    .action__clean
      .columns.columns--small{style: "justify-content: center"}
        .column--small--3
          %a.fancy-link{:href => about_page_url}
            %h2.title.title--small.title--thin Descubra quem nós somos
        .column--small--2
          %hr.vertical
        .column--small--3
          %a.fancy-link{:href => slide_show_url}
            %h2.title.title--small.title--thin Descubra as emoções e sentimentos

    %br
    %br
    %br

    .action__clean
      .columns.columns--small{style: "justify-content: center"}
        .column--small--3
          %a.fancy-link{:href => "/sign_in"} PLATAFORMA
        .column--small--3
          %a.fancy-link{:href => "reader/sign_in"} LIVRO
          -# TODO: Remove this link when going to production
          = link_to "sair", destroy_reader_session_path, method: :delete if current_reader
        .column--small--3
          %a.fancy-link{:href => "https://gestao.toqueemocional.com.br"} GESTÃO

-# particles.js
%script{:src => "https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"}

:javascript
  /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
  particlesJS.load('particles-js', '#{asset_path "particles.json"}');
