.section
  .section__content
    %h1.title.title--large.title--thin Em Breve!!!!

    %br
    %br
    %br
    %br

    = image_tag('brain.png', style: "max-height: 200px")
    %h2.title.title--grey Está página estará disponível para você muito em breve :D

    = link_to "Voltar", :back, class: "fancy-link fancy-link--blue2"
